@import url('./font/font-face/imcre-font-face.css');
@import url('./reset.css');

/* @import url('./font.css'); */

:root {
  --root-z-index: 1;
  --modal-z-index: 5;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: auto;
  height: fit-content;
  min-height: 100vh;
  font-size: 62.5%; /* 1rem = 10px */
}

/* 혹은 Styled components의 global css로 관리 */

/* #root { */

/* page router 기본 root id */
/* stylelint-disable-next-line selector-id-pattern */
